# Ignore everything
*

# Ignore miscellaneous
src/.gitignore
src/README.md
src/minecraft/luaforge/core/.DS_Store
src/minecraft/luaforge/core/lua/.DS_Store
.DS_Store

# Include only necessary files
!build.xml
!src
!src/minecraft
!src/minecraft/org

!Resources
!Resources/*
!Resources/*/*
!Resources/*/*/*
!Resources/*/*/*/*

!src/minecraft/org/apache
!src/minecraft/org/apache/*
!src/minecraft/org/apache/*/*
!src/minecraft/org/apache/*/*/*
!src/minecraft/org/apache/*/*/*/*
!src/minecraft/org/apache/*/*/*/*/*
!src/minecraft/org/apache/*/*/*/*/*/*

!src/minecraft/luaforge/
!src/minecraft/luaforge/*
!src/minecraft/luaforge/*/*
!src/minecraft/luaforge/*/*/*
!src/minecraft/luaforge/*/*/*/*
!src/minecraft/luaforge/*/*/*/*/*
!src/minecraft/luaforge//*/*/*/*/*/*

!Resources/mcmod.info
!.gitignore
!README.md
