# Ignore everything
*

# Include only necessary files
!src
!src/common
!src/common/org
!Resources

!src/common/org/luaj
!src/common/org/luaj/*
!src/common/org/luaj/*/*
!src/common/org/luaj/*/*/*
!src/common/org/luaj/*/*/*/*
!src/common/org/luaj/*/*/*/*/*
!src/common/org/luaj/*/*/*/*/*/*

!src/common/tiin57/
!src/common/tiin57/*
!src/common/tiin57/*/*
!src/common/tiin57/*/*/*
!src/common/tiin57/*/*/*/*
!src/common/tiin57/*/*/*/*/*
!src/common/tiin57/*/*/*/*/*/*
!src/common/tiin57/*/*/*/*/*/*/*

!Resources/mcmod.info
!.gitignore
!README.md
