# Ignore everything
*

# Include only necessary files
!build.xml
!src
!src/common
!src/common/org

!Resources
!Resources/*
!Resources/*/*
!Resources/*/*/*
!Resources/*/*/*/*

!src/common/org/luaj
!src/common/org/luaj/*
!src/common/org/luaj/*/*
!src/common/org/luaj/*/*/*
!src/common/org/luaj/*/*/*/*
!src/common/org/luaj/*/*/*/*/*
!src/common/org/luaj/*/*/*/*/*/*

!src/common/luaforge/
!src/common/luaforge/*
!src/common/luaforge/*/*
!src/common/luaforge/*/*/*
!src/common/luaforge/*/*/*/*
!src/common/luaforge/*/*/*/*/*
!src/common/luaforge//*/*/*/*/*/*

!Resources/mcmod.info
!.gitignore
!README.md
src/.gitignore
src/README.md
src/common/luaforge/core/.DS_Store
src/common/luaforge/core/lua/.DS_Store
.DS_Store
